*,
*::before,
*::after {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font: inherit;
}

:root {
  font-size: 62.5%;
 --color-alert: hsl(0, 100%, 68%);
 --color-titles: hsl(230, 29%, 20%);

 --color-body-text: hsl(230, 11%, 40%);
--color-light-text: hsl(231, 7%, 65%);

--color-pattern: hsl(207, 33%, 95%);
--font-body: 'Barlow', sans-serif;
--font-titles: 'Barlow Condensed', sans-serif;
}

body {
 font-family: var(--font-body);
 color: var(--color-body-text);
 font-size: 1.8rem;
 
 overflow-x: hidden;
}

body > * {
 max-width: 40rem;
 margin-inline: auto;
}

body::before {
 content: '';
 display: block;
 width: 50vw;
 height: 75vh;
 background: var(--color-pattern);
 position: absolute;
 z-index: -1;
 right: 0;
 top: 0;
 border-bottom-left-radius: 8rem;
}

.nav {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-block: 3.5rem;
 margin-bottom: 2rem;
 position: relative;
}

.nav__toggle {
 border: none;
 background: none;
 cursor: pointer;
}

.nav__toggle--close {
 display: none;
}

.nav__menu {
 position: absolute;
 background: #fff;
 top: 10rem;
 right: 0;
 left: 0;
 height: 26.5rem;
 border-radius: 5px;
 box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, .1);
 padding: 3.5rem;
 list-style: none;
 text-align: center;
 text-transform: uppercase;
 font-family: var(--font-titles);
 font-weight: 700;
 font-size: 2rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 2.5rem;
 letter-spacing: 1px;
 transform: translateX(150%);
 transition: transform .25s;
}

.active .nav__menu {
 transform: translateX(0);
 transition: transform .25s;
}

.nav__menu-item--dot {
 border-bottom: 2px solid var(--color-light-text);
 height: 0;
 width: 100%;
}

.nav__link {
 text-decoration: none;
 color: var(--color-titles);
}

.nav__link--action {
 color: var(--color-light-text);
}

.hero {
 display: flex;
 flex-direction: column-reverse;
 gap: 10rem;
 margin-bottom: 10rem;
 max-width: initial;
}

.hero__image {
 width: 100%;
 display: block;
 object-fit: cover;
 margin-inline: auto;
 height: 35rem;
 background: url(images/illustration-devices.svg);
 background-size: 60rem;
 background-repeat: no-repeat;
}

.hero__header {
 max-width: 40rem;
 margin-inline: auto;
 width: 90%;
}

.title {
text-transform: uppercase;
color: var(--color-light-text);
font-family: var(--font-titles);
letter-spacing: 5px;
display: flex;
align-items: center;
gap: 1rem;
margin-bottom: 2rem;
}

.title--info {
 font-weight: 700;
 font-size: 1.6rem;
 color: #fff;
 background: var(--color-titles);
 letter-spacing: 1px;
 padding: 3px 1.3rem;
 display: block;
 border-radius: 50vmin;
}

.hero__title {
 color: var(--color-titles);
 font-family: var(--font-titles);
 text-transform: uppercase;
 font-weight: 700;
 font-size: 4.5rem;
 line-height: 1;
 margin-bottom: 2rem;
}

.hero__text {
 width: 80%;
 line-height: 1.6;
 margin-bottom: 3rem;
}

.hero__cta {
 display: flex;
 align-items: center;
 gap: 3rem;
 text-transform: uppercase;
 color: var(--color-light-text);
 font-family: var(--font-titles);
 letter-spacing: 2px;
 font-size: 1.6rem;
}

.btn {
 text-transform: uppercase;
 color: #fff;
 font-weight: 700;
 background: var(--color-alert);
 border: none;
 padding: 1.2rem 3.5rem;
 border-radius: 5px;
 font-size: 1.4rem;
 letter-spacing: 1px;
 cursor: pointer
}

@media(min-width:900px){
 .hero__image {
  background-position: 55%;
 }
}

@media(min-width: 1200px){
 
 body > * {
  max-width: 100rem;
  margin-inline: auto;
 }

 body::before {
  height: 50vh;
 }

 .nav {
  padding-block: 4rem;
  margin-bottom: 3rem;
  align-items: center;
 }
 
 .nav__toggle {
  display: none;
 }
 
 .nav__menu {
  position: static;
  background: transparent;
  height: auto;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  text-align: initial;
  justify-content: flex-end;
  font-size: 1.8rem; 
  flex-direction: row;
  gap: 3.5rem; 
  transform: translate(0);
  transition: none;
 }
 
 .nav__menu-item--dot {
  border: none;
  height: .8rem; ;
  width: .8rem;
  background: var(--color-light-text);
  border-radius: 50%;
 }
 
 .nav__link:hover,
 .nav__link:active {
  text-decoration: underline;
 }
 
 .hero {
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: center;
  margin-bottom: 10rem;
  max-width: initial;
 }
 
 .hero__image {
  width: 65%;
  max-width: 65rem;
  margin: 0;
  height: 70vh;
  background: url(images/illustration-devices.svg);
  background-size: 100rem;
  background-repeat: no-repeat;
 }
 
 .hero__header {
  max-width: 35rem;
  margin-left: auto;
  width: 35%
 }
 
 .title {
 gap: 2rem;
 margin-bottom: 3.5rem;
 }
 
 
 .hero__title {
  font-size: 4.6rem;
  line-height: 1.2;
  margin-bottom: 3rem;
 }
 
 .hero__text {
  width: 100%;
  margin-bottom: 3.5rem;
 }
 
 .btn:hover,
 .btn:active {
  background: hsla(0, 100%, 68%, 0.797)
 }

}